// clases extendidas
%galeria-flex
{
    display: flex;
    flex-flow: row wrap;
    gap: .6rem;
}

%contenedor
{
    padding: 0 1.4rem;
    max-width: 980px;
    margin: 0 auto;
}
%galeria-flex-items
{
    flex: 1 1 9.5rem;
}
// mixins
@mixin flex-conteiner($a-items: stretch, $j-content: stretch, $f-wrap: nowrap, $f-direction: row)
{
    display: flex;
    flex-direction: $f-direction;
    align-items: $a-items;
    justify-content: $j-content;
    flex-wrap: $f-wrap;
}



// estilos css
.encbzdo__contenedor
{
    @extend %contenedor;
    @include flex-conteiner(center, space-between);

    height: 3.8rem;
}
.sobre-nos
{
    &__wrapper
    {
        @extend %contenedor;
    }
    &__contenedor
    {
        @include flex-conteiner(flex-start, space-between, wrap);
        align-content: center;
        gap: 2.5rem 3rem;
    }
}
.img-label
{
    flex: 1 1 0;
    min-width: 13rem;
}
.img-label--fluido
{
    min-width: 15rem;
}
.contacto__contenedor
{
    @extend %contenedor;
}
.form
{
    display: flex;
    flex-wrap: wrap;
    gap: 0 1.2rem;
    &__input
    {
        flex-grow: 1;
        flex-shrink: 1;
        flex-basis: 0;
        min-width: 16.2rem;
    }
    &__input--fluido
    {
        flex-basis: 100%;
    }
}

.obras
{
    &__wrapper
    {
        @extend %contenedor;
        @include flex-conteiner(center, center, wrap);
        gap: 1.4rem 3rem;
    }
    &__seccion
    {
        flex: 1 1 18rem;
    }
    &__contenedor
    {
        // contenedor que contiene las imagenes
        flex: 1 1 32.5rem;

        @extend %galeria-flex;
    }
    &__img
    {
        @extend %galeria-flex-items;
    }
}
.materiales
{
    &__wrapper
    {
        @extend %contenedor;
        @include flex-conteiner(center, center, wrap, row-reverse);
        gap: 1.4rem 3rem;

    }
    &__seccion
    {
        flex: 1 1 18rem;
    }
    &__contenedor
    {
        // contenedor que contiene las imagenes
        flex: 1 1 32.5rem;

        @extend %galeria-flex;
    }
    &__img
    {
        @extend %galeria-flex-items;
    }
}
.ubicacion
{
    &__wrapper
    {
        @extend %contenedor;
        @include flex-conteiner(center, center, wrap);
        gap:3rem 3rem;
    }
    &__seccion, &__contenedor
    {
        flex: 1 1 0;
        min-width: 18.5rem;
    }
    &__seccion
    {
        //solucionar margin extra de parrafos
        margin-bottom: -1.4rem; 
    }
}
.footer
{
    &__contenedor
    {
        @extend %contenedor;

        @include flex-conteiner($f-direction: column);
        gap: 2rem;

        padding-top: 2.5rem;
        padding-bottom: 2.5rem;
    }
    
    &__sucursales
    {
        @include flex-conteiner($f-direction: column);
        gap: 2rem;
    }
}

.derechos-reservados
{
    height: 4rem;

    @include flex-conteiner(center,center)
}




